html {
    background: #2A073E;
    color: #FFFBE3;
    -webkit-font-smoothing: antialiased;
    font-family: 'DM Sans', sans-serif;
    padding: 16px 16px;
}

.band {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
  }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.value-prop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.value-prop-cta {
    z-index: 1;
}
.texture {
    position: absolute;
    z-index: 0;
    filter: blur(194px);
}

.hero-image {
    z-index: 1;
    padding: 48px 0px 0px 0px;
}

img {
    z-index: 1;
    width: 100%;
    height: auto;
}

main button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #FFFBE3;
    border: none;
}

main button:hover {
    background-color: #FFF5BE;
    cursor: pointer;
}

nav button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #FFFBE3;
    background: none;
    color: #FFFBE3;
}

nav button:hover {
    background-color: #FFFBE3;
    color: #2A073E;
    cursor: pointer;
}

.sign-up {
    margin: 48px 0px 48px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;
}

.input-container {
    background-color: #3F2051;
    color: #FFFBE3;
    border-radius: 6px;
    border: 1px solid #553965;
    display: flex;
    width: 100%;
    max-width: 651px;
    margin: 0 auto;
    padding: 48px 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
}

.input-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.input-information h2 {
    margin-bottom: 8px;
}

.input-information p {
    margin-top: 0;
}

.email-input {
    display: flex;
    gap: 8px;
}

.email-input button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background-color: #FFFBE3;
    font-family: 'DM Sans', sans-serif;
    border: none;
}

.email-input button:hover {
    background-color: #FFF5BE;
    cursor: pointer;
}

input {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #553965;
    background: #553965;
    color: #FFFBE3;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

@media only screen and (max-width: 480px) { 
    .value-prop {
        flex-direction: column;
        align-items: left;
    }
    nav button {
        display: none;
    }
}